#IntelliJ IDEA,
.idea/
*.iml

#Carpeta de compilación,
out/
target/
build/
02_poo/

#Archivos compilados Java,
*.class

#Logs,
*.log

#Archivos temporales,
*.tmp
*.temp

#Configuración específica del sistema operativo,
.DS_Store
Thumbs.db
desktop.ini
